language: node_js
node_js:
  - 6.0
  - 7.0
services:
  - redis-server
  - mysql
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
after_script:
  - npm run test-cov
  - npm ru upload-coveralls
